<div class="col-xs-5 col-md-4 col-sm-4 col-lg-4" data-spy="affix"
     data-offset-top="20">
    <div class="panel panel-primary">
      <div id="divTotal" class="panel-heading">
          <h3 class="panel-title">Total</h3>
      </div>
      <div class="panel-body">
          <h2>{{total | currency}}</h2>
          <ul>
            <li ng-repeat='item in cart'>
              {{item.quantity}} X {{item.name}} = {{item.price * item.quantity | currency}}
            </li>
          </ul>
      </div>
  </div>
  <button ng-click="checkout(cart)" ng-class="{'btn btn-md btn-danger': !cart,
                    'btn btn-md btn-default': cart}"
  > Checkout
        <span class="glyphicon glyphicon-shopping-cart"
              aria-hidden="true">
        </span>
      </button>
</div>
